.sidebar {
  background-color: var(--gray-800);
  border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}

.cover {
  width: 100%;
  height: 72px;
  object-fit: cover;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -28px;
}



.profile strong {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.6rem;
  color: var(--gray-100)
}

.profile span {
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 1.6rem;
}

.sidebar footer {
  border-top: 1px solid var(--gray-600);
  padding: 1.5rem 2rem 2rem;
}

.sidebar footer a {
  background: transparent;
  border: 1px solid var(--green-500);
  color: var(--green-500);
  text-decoration: none;
  height: 50px;
  padding: 0 1.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: color 150ms, background-color 200ms ease-in-out;
}

.sidebar footer a:hover {
  background-color: var(--green-500);
  color: var(--white);
}