.post {
  background-color: var(--gray-800);
  padding: 2.5rem;
}

.post>header {
  display: flex;
  justify-content: space-between;
}

.post .author {
  display: flex;
  gap: 1rem;
}

.post .authorInfo {
  display: flex;
  flex-direction: column;
  line-height: 1.6rem;
  align-items: center;
}

.authorInfo strong {
  color: var(--gray-100);
}

.post time {
  color: var(--gray-400);
}

.authorInfo span {
  color: var(--gray-400);
}




.content p {
  margin-top: 1.6rem;
  color: var(--gray-300)
}

.content a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
}

.content a:hover {
  color: var(--green-300);
}

.post+.post {
  margin-top: 2rem;
}

.commentForm {
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}

.commentForm>strong {
  line-height: 2.8rem;
  color: var(--gray-100);
}

.commentForm textarea {
  width: 100%;
  background-color: var(--gray-900);
  padding: 0.8125rem 1rem;
  resize: none;
  height: 6rem;
  color: var(--gray-100);
  border-radius: 8px;
  border: none;
}

.commentForm button[type="submit"] {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  background-color: var(--green-500);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 100ms ease-in;
  border: none;
}

.commentForm button[type="submit"]:not(:disabled):hover {
  background-color: var(--green-300);
}

.commentForm button[type="submit"]:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;

}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentList {
  margin-top: 2rem;
}